.Department {
	background: #222;
	margin-bottom: 20px;
	> .inner {
		&::after {
			content: "";
			display: block;
			clear: both;
		}
		article {
			width: 33.333%;
			float: left;
			padding: 10px;
			margin-bottom: 20px;
			.pic {
				width: 100%;
				height: 400px;
				background: #111;
				margin-bottom: 20px;
				border: 7px solid #fff;
				filter: saturate(0.3);
				transition: 0.5s;
				transform: translateY(100px);

				&:hover .pic{
					opacity: 1;
					transition: 0.5s;
				}
				&:hover {
					filter: saturate(1.1);
					transform: translateY(0);
					opacity: 1;
				}

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
			
			.inner {
				width: 373px;
				height: 130px;
				background-color: #ddd;
				opacity: 1;
				padding: 10px;
				margin-right: 10px;

				
				
				
				h3 {
					font: bold 25px/1 "arial";
					color: #fff;
					text-align: center;
				}
				p {
					font: bold 15px/1 "arial";
					color: #fff;
					text-align: center;
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.Department {
		> .inner {
			article {
				width: 50%;
				margin-bottom: 40px;
				.info {
					.pic {
						height: 260px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.Department {
		> .inner {
			article {
				width: 100%;
				margin-bottom: 30px;
				.info {
					.pic {
						height: 200px;
					}
				}
			}
		}
	}
}
